/*  ----------- */
/*  GENERAL     */
/*  ----------- */
body {
    margin: 0;
    background-color: #f3f3f3;
}

.body_content {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}
/*  ----------- */
/*  END GENERAL */
/*  ----------- */

/*  ----------- */
/*  HEADER      */
/*  ----------- */
header {
    background-color: #17abb3;
}

figure {
    margin: 0;
}

.header_content {
    display: inline-flex;
    width: 100%;
}

.image_profile {
    min-width: 30%;
    display: flex;
    justify-content: center;
}

.info_contact {
    width: 100%;
    text-align: center;
}

.coordinate {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.coordinate_item {
    display: inline-flex;
    flex-direction: column;
}

.info_item {
    display: inline-flex;
    gap: 5px;
}

.image_profile img {
    width: 50%;
    border-radius: 50%;
}

.image_profile figure {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  ----------- */
/*  END HEADER  */
/*  ----------- */

/*  ----------- */
/*  MAIN        */
/*  ----------- */
/* @min-height: 100vh - 100% Viewport height */
.main_content {
    display: inline-flex;
    min-height: 100vh;
}

/* ASIDE */
.aside_content {
    min-width: 30%;
    background-color: #e3e3e3;
}

.languages_item {
    display: inline-flex;
    justify-content: space-between;
}

.skills_item {
    display: inline-flex;
    justify-content: space-between;
}

.stars {
    display: inline-flex;
    gap: 5px;
}

/* GENERAL CONTENT */
.general_content {
    background-color: #ffffff;
}

.general_content h4 {
    margin: 0;
}

.general_content section {
    gap: 15px;
}

.general_item_section {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
/*  ----------- */
/*  END MAIN    */
/*  ----------- */

/*  ----------- */
/*  FOOTER      */
/*  ----------- */
footer {
    background-color: #17abb3;
}

footer p {
    margin: 0;
    text-align: center;
}

.social_media {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
}

.footer_content {
    display: flex;
    flex-direction: column;
}
/*  ----------- */
/*  END FOOTER  */
/*  ----------- */