/*  ----------- */
/*  GENERAL     */
/*  ----------- */
/* Normal - Bold - Italic */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-VariableFont_wght.ttf), url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
}

body {
    margin: 0;
    background-color: #f3f3f3;
}

.body_content {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: black;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #ffffff;
}

h2 {
    margin: 0;
    color: #ffffff;
}

h3 {
    margin-top: 16px;
    margin-bottom: 0;
    color: #17abb3;
}

h4 {
    margin: 0;
}

hr {
    margin: 0;
    border: 1px solid #dadada;
    gap: 15px;
}
/*  ----------- */
/*  END GENERAL */
/*  ----------- */

/*  ----------- */
/*  HEADER      */
/*  ----------- */
header {
    background-color: #17abb3;
}

figure {
    margin: 0;
}

.image_profile a {
    cursor: zoom-in;
}

.header_content {
    display: inline-flex;
    width: 100%;
}

.image_profile {
    min-width: 25%;
    display: flex;
    justify-content: center;
}

.info_contact {
    width: 100%;
    text-align: center;
}

.coordinate {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 32px;
}

.coordinate_item {
    display: inline-flex;
    flex-direction: column;
}

.info_item {
    display: inline-flex;
    gap: 10px;
}

.info_item p {
    color: #ffffff;
}

.image_profile img {
    border: 5px solid #ffffff;
    width: 50%;
    border-radius: 50%;
}

.image_profile figure {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  ----------- */
/*  END HEADER  */
/*  ----------- */

/*  ----------- */
/*  MAIN        */
/*  ----------- */
/* @min-height: 100vh - 100% Viewport height */
.main_content {
    display: inline-flex;
    min-height: 100vh;
}

/* ASIDE */
.aside_content {
    min-width: 25%;
    background-color: #e3e3e3;
}

.aside_content section {
    gap: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 0;
}

.languages_item {
    display: inline-flex;
    justify-content: space-between;
}

.skills {
    padding-top: 32px;
}

.skills_item {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.stars {
    display: inline-flex;
    gap: 5px;
}

ul {
    margin-left: 16px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: square;
    color: #17abb3;
}

/* GENERAL CONTENT */
.general_content {
    padding: 32px;
    background-color: #ffffff;
}

.general_content h4 {
    margin: 0;
}

.general_content section {
    gap: 10px;
}

.indent_text {
    text-indent: 3em;
}

.justify_text {
    text-align: justify;
}

.general_item_section {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.formations {
    margin-top: 5px;
}

.internships {
    margin-top: 5px;
}

.professional_experience {
    margin-top: 5px;
}

.date_item p {
    color: #17abb3;
}

.label_item p {
    font-style: italic;
    font-size: 0.7em;
}
/*  ----------- */
/*  END MAIN    */
/*  ----------- */

/*  ----------- */
/*  FOOTER      */
/*  ----------- */
footer {
    background-color: #17abb3;
}

footer p {
    font-style: italic;
    font-size: 0.8em;
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
    color: #ffffff;
}

.social_media {
    display: inline-flex;
    justify-content: center;
    padding: 16px;
    gap: 15px;
}

.footer_content {
    display: flex;
    flex-direction: column;
}
/*  ----------- */
/*  END FOOTER  */
/*  ----------- */